<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" sendTimeout="01:10:00" />
        <binding name="NewBinding1" sendTimeout="01:10:00" />
        <binding name="NewBinding2" openTimeout="01:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metaBehavior">
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="metaBehavior" name="TennisOrganizerServices.AccountService">
        <endpoint address="AccountService" binding="basicHttpBinding"
          bindingConfiguration="NewBinding0" contract="TennisOrganizerServices.IAccountService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/AccountService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="metaBehavior" name="TennisOrganizerServices.DuelService">
        <endpoint address="DuelService" binding="basicHttpBinding" bindingConfiguration="NewBinding1"
          contract="TennisOrganizerServices.IDuelService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/DuelService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="metaBehavior" name="TennisOrganizerServices.PlayerService">
        <endpoint address="PlayerService" binding="basicHttpBinding"
          bindingConfiguration="NewBinding2" contract="TennisOrganizerServices.IPlayerService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/PlayerService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>