@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
	<li class="text">
		<h1>Graj z nami już teraz!</h1>
	</li>
	<li class="text">
		Tennis Organizer w prosty sposób pozwala na aranżowanie meczy tenisowych
	</li>
	<li>
		<input type="text" id="login" class="input" placeholder="Login" />
	</li>
	<li>
		<input type="password" id="password" class="input" placeholder="Hasło" />
	</li>
	<li>
		<input type="submit" class="button" value="Wyślij"/>

	</li>
	<li>
		nie masz konta? @Html.ActionLink("Zarejestruj się!", "Register")
	</li>
</ul>
				
<script>
	$(document).ready(function () {
		$(".login_box").css('height', ($(window).height() + 'px'));
		$(".login_box").hide().fadeIn(1000);
	});

	$(window).resize(function () {
		$(".login_box").css('height', ($(window).height() + 'px'));
	});

</script>
