@{
	Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="Content/themes/base/reset.css" />
	<link rel="stylesheet" href="Content/themes/base/style.css" />

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css' />

	<script src="Scripts/jquery-1.8.2.min.js"></script>

	<title>Tennis Organizer</title>

</head>

<body>
	<form method="get">
		<div class="commercial">
			<a class="logo" href="">Tennis Organizer</a>

		</div>
		<div class="content">

			<div class="login_box">

				<div class="center box">
					<ul>
						<li class="text">
							<h1>Graj z nami już teraz!</h1>
						</li>
						<li class="text">
							Tennis Organizer w prosty sposób pozwala na aranżowanie meczy tenisowych
						</li>
						<li>
							<input type="text" id="login" class="input" placeholder="Login" />
						</li>
						<li>
							<input type="password" id="password" class="input" placeholder="Hasło" />
						</li>
						<li>
							<input type="submit" class="button" value="Wyślij"/>

						</li>
						<li>
							nie masz konta? <a href="./Register.aspx">zarejestruj się</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function () {
				$(".login_box").css('height', ($(window).height() + 'px'));
			});

			$(window).resize(function () {
				$(".login_box").css('height', ($(window).height() + 'px'));
			});

		</script>
	</form>

</body>
</html>