*:focus {
    outline: none;
}

::-webkit-input-placeholder { color:#999; }
::-moz-placeholder { color:#999; } /* firefox 19+ */
:-ms-input-placeholder { color:#999; } /* ie */
input:-moz-placeholder { color:#999; }


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    color: #CCC;
    background-color: #222;
    position:relative;
    margin: 0;
    min-width: 1024px;
    background-image: url(images/TennisBackground.jpg);
    background-position: center top;
    background-size:cover;
}

.center{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}


.content {
	width: 960px;
	height: auto;
	margin: 0 auto;
}
.register_box {
	color:#222;
	margin-top:20px;
	z-index: 10;
	width: 100%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.6);
	overflow: hidden;
	height: 100%;
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);

}
.user_input
{
	width:33%;
	margin-bottom:5px;
	padding: 5px 10px;
	background-color: #FFF;
	color: #000;
	font-size: 24px;
	font-family: "Open Sans",sans-serif !important;
	font-weight: 300;
	box-sizing: border-box;
	border: 1px solid #EEE ;
}
ul
{
	margin-left:30px;
}
.register_button
{
	left:0px;
	right:0px;
	width:200px;
	height:50px;
	margin:auto;
	display:block;
	Color:#FFF;
	background-color:#3399FF;
	border:none;		
	font-size:18pt;
}
input[type=submit]:hover
{
	background:rgb(150, 215,255);
}
input[type=submit]:active
{
	background:rgb(215, 235, 255);
}