<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<!--<connectionStrings>
		<add name="Tennis_Organizer.NET_2014.Properties.Settings.Tennis_Organizer_NET_2014_TennisManagerContextConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Tennis_Organizer.NET_2014.TennisManagerContext;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework> -->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPlayerService" />
                <binding name="BasicHttpBinding_IDuelService" />
                <binding name="BasicHttpBinding_IAccountService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/PlayerService/PlayerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPlayerService"
                contract="PlayerService.IPlayerService" name="BasicHttpBinding_IPlayerService" />
            <endpoint address="http://localhost:8001/DuelService/DuelService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDuelService"
                contract="DuelService.IDuelService" name="BasicHttpBinding_IDuelService" />
            <endpoint address="http://localhost:8001/AccountService/AccountService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
                contract="AccountService.IAccountService" name="BasicHttpBinding_IAccountService" />
        </client>
    </system.serviceModel>
</configuration>
