/*td, th {
		border: 3px solid black;
		padding: 3px;
	}*/

.disp1 th {
	background-color: #9999DD;
	padding: 10px;
	text-align: center;
}
.disp1 td {
	background-color: #99BBDD;
	padding: 10px;
	text-align: center;
}

h2 {
	margin-top: 40px;
	margin-bottom: 20px;
}

.statList td:first-of-type {
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
}
.statList td:last-of-type {
	text-align: left;
	font-size: 20px;
	font-weight: bolder;
	padding: 20px;
	margin-left: 20px;
}