@model TennisOrganizer.MVC.ViewModels.ChallengeCriteria

@{
    ViewBag.Title = "Pojedynek";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Pojedynek zapisany!</h2>

<h4>
	Wyzwałeś gracza @ViewBag.opponentName na pojedynek w dniu @ViewBag.dateOfPlay o godzinie @ViewBag.hourOfPlay.
</h4>
