@{
    ViewBag.Title = "TrainingSuccess";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Trening zarezerwowany!</h2>

<h4>Umówiłes się na trening z trenerem @ViewBag.opponentName w dniu @ViewBag.dateOfPlay o godzinie @ViewBag.hourOfPlay</h4>
